body {
    margin:0;
    padding: 0;
}
ul.nav {
    margin-top: 3%;
}
ul.nav li a {
    color: #f3eaeaec;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 100;
    font-size: 15px;
}
ul.nav li a i {
    color: #eb9854;
}

i.i {
    font-size: 60px;  
}
a.ic {
    background-color:gray;
    bottom:auto !important;    
    width: 20px !important;
    

}
 
div.carousel-item img {
    width: 100% !important;
  
}